{{ 'group {' }}
{% if g.next_server is defined and g.next_server != '' %}
{{ '  ' + 'next-server ' + g.next_server + ';' }}
{% endif %}
{% if g.options is defined and g.options != '' %}
{% for o in g.options %}
{{ '  ' }}{% include 'dhcpd_options.j2' %}
{% endfor %}
{% endif %}
{% if g.filename is defined and g.filename != '' %}
{{ '  ' + 'filename \"' + g.filename + '\";' }}
{% endif %}
{% if g.hosts is defined %}
{% for h in g.hosts %}
{% include 'dhcpd_host.j2' %}
{% if g.host_name_from_name is defined and g.host_name_from_name == 'true' %}
{{ '  option host-name ' ~ '\"' ~ h.name ~ '\";' }}
{% endif %}
{{ '}' }}
{% endfor %}
{% endif %}
{{ '}\n' }}
