{{ 'class ' + '\"' + c.name + '\" {' }}
{{ '  ' + c.rule + ';' }}
{% if c.options is defined %}
{% for i in c.options %}
{{ '  option ' + i.opt + ';' }}
{% endfor %}
{% endif %}
{{ '}' }}
{% if c.subclass is defined %}
{% for sc in c.subclass %}
{{ 'subclass ' + '\"' + c.name + '\"' + ' 1:' + sc.mac_address + ' {' }}
{{ '}' }}
{% endfor %}
{% endif %}
