{{ 'shared-network ' + n.name + ' {' }}
{% if n.interface is defined and n.interface != '' %}
{{ '  interface ' + '\"' + n.interface + '\";' }}
{% endif %}
{% for s in n.subnets %}
{% if s.base is defined and s.base | ipaddr() %}
{{ '  ' }}{% include 'dhcpd_subnets.j2' %}
{% if s.pools is defined %}
{% for p in s.pools %}
{% include 'dhcpd_pool.j2' %}
{% endfor %}
{% endif %}
{% if s.parameters is defined %}
{% for p in s.parameters %}
{{ '  ' + p + ';' }}
{% endfor %}
{% endif %}
{% endif %}
{{ '  }' }}
{% endfor %}
{% if n.pools is defined %}
{% for p in n.pools %}
{% include 'dhcpd_pool.j2' %}
{% endfor %}
{% endif %}
{% if n.parameters is defined %}
{% for p in n.parameters %}
{{ '  ' + p + ';' }}
{% endfor %}
{% endif %}
{{ '}\n' }}
