{{ 'group {' }}
{% for g in hostvars[inventory_hostname]['dhcpd_groups'] %}
{% if g.hosts is defined %}
{% for h in g.hosts %}
{{ '  ' }}{% include 'dhcpd_host.j2' %}
{% endfor %}
{% endif %}
{% endfor %}
{{ '}\n' }}
