{{ 'shared-network ' + n['name'] + ' {' }}
{% if n['interface'] is defined and n['interface'] != '' %}
{{ '  interface \"' + n['interface'] + '\";' }}
{% endif %}
{% for s in n['subnets'] %}
{% if s['base'] is defined and s['base'] | ansible.utils.ipaddr() %}
{{ '  ' }}{% include 'dhcpd_subnets.j2' %}
{% if s['pools'] is defined %}
{% for p in s['pools'] %}
{% include 'dhcpd_pool.j2' %}
{% endfor %}
{% endif %}
{% if s['eval_if'] is defined and s['eval_if'] != '' %}
{% for e in s['eval_if'] %}
{{ '  ' }}{% include 'dhcpd_eval_if.j2' %}
{% endfor %}
{% endif %}
{% if s['options'] is defined and s['options'] != '' %}
{% for o in s['options'] %}
{{ '  ' }}{% include 'dhcpd_options.j2' %}
{% endfor %}
{% endif %}
{% endif %}
{{ '  }' }}
{% endfor %}
{% if n['pools'] is defined %}
{% for p in n['pools'] %}
{% include 'dhcpd_pool.j2' %}
{% endfor %}
{% endif %}
{% if n['eval_if'] is defined and n['eval_if'] != '' %}
{% for e in n['eval_if'] %}
{{ '  ' }}{% include 'dhcpd_eval_if.j2' %}
{% endfor %}
{% endif %}
{% if n['options'] is defined and n['options'] != '' %}
{% for o in n['options'] %}
{{ '  ' }}{% include 'dhcpd_options.j2' %}
{% endfor %}
{% endif %}
{{ '}' }}
{{ '' }}
