{% for c in hostvars[inventory_hostname]['dhcpd_classes'] %}
{{ 'class ' + '\"' + c.name + '\" {' }}
{{ '  ' + c.rule + ';' }}
{% if c.options is defined %}
{% for i in c.options %}
{{ '  option ' + i.opt + ';' }}
{% endfor %}
{% endif %}
{{ '}' }}
{% endfor %}
