{% if (p.range_start is defined and p.range_start | ansible.utils.ipaddr())
  and (p.range_end is defined and p.range_end | ansible.utils.ipaddr()) %}
{{ '  pool {' }}
{% if p.rule is defined and p.rule != '' %}
{{ '    ' + p.rule + ';' }}
{% endif %}
{{ '    range ' + p.range_start + ' ' + p.range_end + ';' }}
{% if p.eval_if is defined and p.eval_if != '' %}
{% for e in p.eval_if %}
{{ '    ' }}{% include 'dhcpd_eval_if.j2' %}
{% endfor %}
{% endif %}
{% if p.options is defined and p.options != '' %}
{% for o in p.options %}
{{ '    ' }}{% include 'dhcpd_options.j2' %}
{% endfor %}
{% endif %}
{% if p.filename is defined and p.filename != '' %}
{{ '    filename \"' ~ p.filename ~ '\";' }}
{% endif %}
{% if p.next_server is defined and p.next_server != '' %}
{{ '    next-server ' + p.next_server ~ ';' }}
{% endif %}
{% if p.default_lease_time is defined and p.default_lease_time != '' %}
{{ '    default-lease-time ' ~ p.default_lease_time ~ ';' }}
{% endif %}
{% if p.max_lease_time is defined and p.max_lease_time != '' %}
{{ '    max-lease-time ' ~ p.max_lease_time ~ ';' }}
{% endif %}
{% if p.get_lease_hostnames is defined and
      p.get_lease_hostnames in ['true', 'false'] %}
{{ '    get-lease-hostnames ' + p.get_lease_hostnames + ';' }}
{% endif %}
{{ '  }' }}
{% endif %}
